.item-1{grid-area: A;}
.item-2{grid-area: B;}
.item-3{grid-area: C;}
.item-4{grid-area: D;}
.item-5{grid-area: E;}
.item-6{grid-area: F;}
.item-7{grid-area: G;}
.grid-container{
    display: grid;
    grid-template-areas: 
        'A A B B B C D E'
        'A A B B B C D E'
        'A A B B B G G G'
        'F F F F F G G G'
        'F F F F F G G G';
    grid-gap: 20px;
    padding: 5px;
}
.grid-container > div{
    border: 2px solid black;
    outline: 2px solid black;
    outline-offset: 5px;
}
.height{
    height: 96vh;
}